@import url("https://fonts.googleapis.com/css2? family=Rubik+Beastly&family=Rubik:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&family=Rubik:wght@300;400&family=Shadows+Into+Light&display=swap");

@font-face {
  font-family: FuenteLogo;
  src: url("BlackgroundsRegular-1GEYj.ttf");
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.3s cubic-bezier(0.16, 0.8, 0.62, 1.52);
  text-transform: capitalize;
  font-weight: normal;
}

*::selection {
  background: rgb(63, 126, 185);
  color: white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-size: 15px;
  line-height: 20px;
}

html::-webkit-scrollbar {
  width: 1.3rem;
}

html::-webkit-scrollbar-track {
  background: rgb(53, 52, 52);
}

html::-webkit-scrollbar-thumb {
  background: rgb(7, 247, 59);
  border-radius: 2.5rem;
}

section {
  min-height: 100vh;
  padding: 0 7%;
  padding-top: 11rem;
}

.heading {
  text-align: center;
  color: var(--red);
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span {
  color: #666;
}

header {
  position: fixed;
  top: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
  background: rgb(202, 48, 48);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}

header .logo {
  font-size: 1.5rem;
  font-family: Shadows Into Light;
}

header .logo h1 {
  color: white;
  font-family: Shadows Into Light;
}

header .logo b {
  color: rgb(7, 247, 59);
  font-family: Shadows Into Light;
}

.logo img {
  height: 50px;
  margin: 2px 0 -8px;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  margin-left: 3rem;
}

header .navbar ul li a {
  font-size: 1.3rem;
  color: lightgray;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: rgb(7, 247, 59);
}

#menu {
  font-size: 3rem;
  color: rgb(7, 247, 59);
  cursor: pointer;
  display: none;
}

.Inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(fondoPag1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Inicio-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(fondoPag1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Inicio .image {
  flex: 1 1 40rem;
}

.Inicio .image img {
  width: 100%;
}

.Inicio .content {
  flex: 1 1 40rem;
  padding: 4rem 0;
}

/*condiones de uso fa-star*/
.Title.Page.fa-star {
  padding-left: 55px;
}

.Title.Page {
  position: relative;
  margin-bottom: 20px;
}

a,
.Title {
  color: #3b4248;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

body {
  color: #9da1a4;
}

body {
  font-size: 15px;
  line-height: 20px;
}

html {
  font-family: BlackgroundsRegular;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.Title.Page.fa-star:before {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
  background: #ffba00;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZC11Y2dnLWdlbmVyYXRlZCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwIiB5MT0iMCIgeDI9IjAiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNmZmJhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmODAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cGF0aCBkPSJNMCAwaDF2MUgweiIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background: -moz-linear-gradient(top,
      rgba(255, 186, 0, 1) 0%,
      rgba(255, 128, 0, 1) 100%);
  background: -webkit-linear-gradient(top,
      rgba(255, 186, 0, 1) 0%,
      rgba(255, 128, 0, 1) 100%);
  background: -ms-linear-gradient(top,
      rgba(255, 186, 0, 1) 0%,
      rgba(255, 128, 0, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(255, 186, 0, 1) 0%,
      rgba(255, 128, 0, 1) 100%);
}

[class*="fa-star"]:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: inherit;
  line-height: inherit;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  margin-right: 10px;
}

.fa-star:before {
  content: "\f005";
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Title.Page.fa-star:after {
  width: 30px;
  height: 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body ::-webkit-scrollbar {
  background-color: #ccc;
}

body ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body ::-webkit-scrollbar-thumb {
  background-color: #01bcf3;
}

@media (min-width: 767px) .BX.Row.BFluid>* {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.Rows>*,
.Sp20[class*="Row"]>* {
  padding: 20px 10px 0;
}

[class*="Row"]>* {
  min-width: 0;
}

main {
  display: block;
}

.Main p {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  color: #333;
}

.Main p a {
  color: #333;
  font-weight: bold;
}

button,
input,
textarea,
select,
label. a {
  transition: all 0.2s linear;
}

a,
a:active,
:focus {
  outline: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #9da1a4;
}

body {
  font-size: 15px;
  line-height: 30px;
}

.Container {
  margin: 0 auto;
  padding: 0 15px;
}

h1,
p {
  margin-bottom: 15px;
}

/*contactanos*/
.flx {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background: rgb(202, 48, 48);
}

.nshare {
  box-sizing: border-box;
  margin-top: calc(var(--nshare-spacing) * -1);
  margin-right: calc(var(--nshare-spacing) * 5);
}

.nshare-item {
  margin-right: var(--nshare-spacing);
  margin-top: var(--nshare-spacing);
}

.nshare-item,
.nshare-item:hover,
.nshare-item:active {
  text-decoration: none;
  color: inherit;
}

.nshare-item {
  transition: background 0.3s, color 0.3s;
}

.nshare-item i {
  transition: transform 0.3s;
  margin: 0;
}

.nshare,
.nshare-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nshare-fb {
  background-color: var(--nshare-facebook);
}

.nshare-tt {
  background-color: var(--nshare-twitter);
}

.nshare-pt {
  background-color: var(--nshare-pinterest);
}

.nshare-tb {
  background-color: var(--nshare-tumblr);
}

.nshare-rd {
  background-color: var(--nshare-reddit);
}

.nshare-vk {
  background-color: var(--nshare-vk);
}

.nshare-ws {
  background-color: var(--nshare-whatsapp);
}

.nshare-tlg {
  background-color: var(--nshare-telegram);
}

.nshare-msj {
  background-color: var(--nshare-email);
}

.nshare-fb:hover {
  color: var(--nshare-facebook);
}

.nshare-tt:hover {
  color: var(--nshare-twitter);
}

.nshare-pt:hover {
  color: var(--nshare-pinterest);
}

.nshare-tb:hover {
  color: var(--nshare-tumblr);
}

.nshare-rd:hover {
  color: var(--nshare-reddit);
}

.nshare-vk:hover {
  color: var(--nshare-vk);
}

.nshare-ws:hover {
  color: var(--nshare-whatsapp);
}

.nshare-tlg:hover {
  color: var(--nshare-telegram);
}

.nshare-msj:hover {
  color: var(--nshare-email);
}

.nshare-item:hover i {
  transform: rotate(360deg);
}

/*}} Fin del core {{*/

/*! Personalización */
/* Contenedor
-----------------------------------------*/
.nshare {
  --nshare-spacing: 0.5rem;
  /* separacion interna */
  padding-top: 0;
  /* separacion superior */
  padding-bottom: 0;
  /* separacion inferior */
}

/* Redes sociales
-----------------------------------------*/
.nshare {
  --nshare-facebook: #1778f2;
  --nshare-twitter: #ff0000;
  --nshare-pinterest: #f0002a;
  --nshare-tumblr: #c32aa3;
  --nshare-reddit: #cf3d2e;
  --nshare-whatsapp: #4fce5d;
  --nshare-telegram: #0088cc;
  --nshare-email: #464eb8;
}

/* Botones
-----------------------------------------*/
.nshare-item {
  font-size: 22px;
  /* tamaño de iconos */
  width: 48px;
  /* ancho */
  height: 48px;
  /* alto */
  border-radius: 0.5rem;
  /* bordes redondeados */
  color: #fff;
  /* color */
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1),
    0 2px 5px -1px rgba(0, 0, 0, 0.05);
  /* sombra */
}

.nshare-item:hover {
  background-color: transparent;
  /* fondo (hover) */
}

/*Fin cbotones contactanos*/

.Footer {
  background-color: rgb(202, 48, 48);
  color: #777f82;
  font-size: 12px;
  text-align: center;
  display: block;
  height: auto;
}

.Footer span,
.Footer a {
  color: #fff;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Footer .Row {
  margin-top: 0;
  align-items: center;
}

.Footer .Row>*,
.Footer p {
  padding-top: 0;
}

.Footer>.Container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Footer .Row>div {
  padding: 10px 0;
}

.Footer p {
  margin-bottom: 10px;
}

.Footer .mnftxt {
  line-height: 25px;
  padding: 0 8px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 25px;
}

.Footer .mnftxt a {
  display: inline-block;
  vertical-align: top;
  padding: 0 2px;
  margin: 0 6px;
}

.Footer .mnftxt a:hover {
  text-decoration: underline;
}

@media (min-width: 767px) {
  .Footer {
    text-align: center;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: 110%;
    left: 0;
    background: rgb(202, 48, 48);
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem;
  }

  header .navbar ul li {
    margin: 1rem 0;
    width: 100%;
  }

  header .navbar ul li a {
    display: block;
    font-size: 2.5rem;
    border-bottom: 1rem solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 0;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
  }

  .home .content {
    text-align: center;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  section {
    padding: 0 3%;
    padding-top: 11rem;
  }

  .about .row .image img {
    height: auto;
    width: 100%;
  }
}