<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
  </head>
  <body>
    <section class="dimension">
      <style>
        .tarjetas-row {
          position: relative;
          display: grid;
          gap: 4rem;
          grid-auto-rows: 32rem;
          background: transparent;
          opacity: 1.2;
          grid-template-columns: repeat(auto-fill, minmax(10rem, 0.2fr));
        }

        @media (max-width: 400px) {
          .tarjetas-row {
            position: relative;
            display: grid;
            gap: auto;
            grid-auto-rows: auto;
            background: transparent;
            opacity: 1.2;
            grid-template-columns: repeat(auto-fill, minmax(15rem, 0.1fr));
          }
        }

        .card {
          background: transparent;
          border: none;
        }

        .card:hover {
          cursor: pointer;
          background: #888;
          color: #111;
          opacity: 0.9;
        }

        .card-title {
          color: #fff;
        }

        .heading-text {
          text-align: start;
          text-transform: uppercase;
        }

        .dimension {
          display: flexbox;
          width: 1200px;
          min-height: auto;
        }
      </style>

      <h2 class="heading-text">
        <span style="color: #fff; font-size: 25px">Estrenos agregados</span>
      </h2>
      <div class="tarjetas-row">
        <div class="card" style="width: 140px">
          <img
            class="card-img-top"
            src="/image/Dragon-ball-super-Super-Hero/poster.png"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Dragon ball super: Super Hero</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">
              Multiaudio | Blue-Ray
            </p>
            <a
              href="https://www.all-anime.ga/peliculas/Dragon-ball-Super-super-hero/movie"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Pelicula</a
            >
          </div>
        </div>
        <div class="card" style="width: 140px">
          <img
            class="card-img-top"
            src="/image/Bleach-thousand-year-blood-war/poster.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Bleach: sennen kessen hen</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">Subtitulado</p>
            <a
              href="https://www.all-anime.ga/ver/Bleach-sennen-kessen-hen/tv"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Serie</a
            >
          </div>
        </div>
        <div class="card" style="width: 140px">
          <img
            class="card-img-top"
            src="/image/One-piece-Film-red/p.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">One piece: Film red</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">
              MultiAudio | CAM-HD
            </p>
            <a
              href="https://www.all-anime.ga/peliculas/One-piece-film-red/movie"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Película</a
            >
          </div>
        </div>
        <div class="card" style="width: 140px">
          <img class="card-img-top" src="/image/Blue-lock/poster.jpg" alt="" />
          <div class="card-body">
            <h4 class="card-title">Blue lock</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">Subtitulado</p>
            <a
              href="https://www.all-anime.ga/ver/Blue-lock/tv"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Serie</a
            >
          </div>
        </div>
        <div class="card" style="width: 140px">
          <img
            class="card-img-top"
            src="/image/Boku-no-hero-academia-season-6/poster.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Boku no hero academia: season 6</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">Subtitulado</p>
            <a
              href="https://www.all-anime.ga/ver/My-hero-academia/tv"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Serie</a
            >
          </div>
        </div>
        <div class="card" style="width: 140px">
          <img
            class="card-img-top"
            src="/image/chainsaw-man/poster.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Chainsaw-man</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">Subtitulado</p>
            <a
              href="https://www.all-anime.ga/ver/Chainsaw-man/tv"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Serie</a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="dimension">
      <h2 class="heading-text">
        <span style="color: #fff; font-size: 25px">¡Doblajes!</span>
      </h2>
      <div class="tarjetas-row">
        <div class="card" style="width: 140px">
          <img
            class="card-img-top"
            src="/image/Mob-psycho-III/poster.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Mob psycho III</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">MultiAudio</p>
            <a
              href="https://www.all-anime.ga/ver/Mob-Psycho-100-III/11"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Serie | Ep 11</a
            >
          </div>
        </div>
        <div class="card" style="width: 140px">
          <img
            class="card-img-top"
            src="/image/chainsaw-man/poster.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Chainsaw-man</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">MultiAudio</p>
            <a
              href="https://www.all-anime.ga/ver/Chainsaw-man/12"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Serie | Ep 12</a
            >
          </div>
        </div>
        <div class="card" style="width: 140px">
          <img
            class="card-img-top"
            src="/image/Bleach-thousand-year-blood-war/poster.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Bleach: sennen kessen hen</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">MultiAudio</p>
            <a
              href="https://www.all-anime.ga/ver/Bleach-sennen-kessen-hen/10"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Serie | Ep 10</a
            >
          </div>
        </div>
        <div class="card" style="width: 140px">
          <img class="card-img-top" src="/image/Blue-lock/poster.jpg" alt="" />
          <div class="card-body">
            <h4 class="card-title">Blue lock</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">MultiAudio</p>
            <a
              href="https://www.all-anime.ga/ver/Blue-lock/7"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Serie | Ep 7</a
            >
          </div>
        </div>
        <div class="card" style="width: 140px">
          <img
            class="card-img-top"
            src="/image/Boku-no-hero-academia-season-6/poster.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">My hero academia: season 6</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">MultiAudio</p>
            <a
              href="https://www.all-anime.ga/ver/My-hero-academia/T6/8"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Serie | Ep 8</a
            >
          </div>
        </div>
        <div class="card" style="width: 140px">
          <img
            class="card-img-top"
            src="/image/Spy-X-Family/spyXfamily-poster.jpg"
            alt=""
          />
          <div class="card-body">
            <h4 class="card-title">Spy x Family</h4>
            <p class="card-text" style="color: rgb(7, 247, 59)">MultiAudio</p>
            <a
              href="https://www.all-anime.ga/ver/Spy-x-family/20"
              style="text-decoration: none; color: rgb(53, 197, 197)"
              >Serie | Ep 20</a
            >
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
